.body{
  margin: 0.8rem;
  overflow-x: hidden;
}
header{
 margin: 0 0;
}
p{
  font-family: Poppins,sans-serif ;
  
}
.img1{
 width: 1.7rem;
 height: 1.6rem;
}
.ook{
  margin-left: 8rem;
  width: 10rem;
  display: flex;
  justify-content: space-around;
}
.loo{
  border-radius: 6px;
  padding: 5px 7px;
  background-color:#f9b006;
  margin: 4px;
}
.img1 img{
  padding: 0.5rem;
  width: 100%;
  background-color: #fff;
  height: 100%;
  border: 2px solid black;
}
.nav{
 
 padding: 1.5rem 1rem;
 background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter:blur (16px);
    top: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;

  width: 90%;
  z-index: 2;
}
.img2{
  width: 87%;
}
.img2 img{
  width: 100%;
  margin-left: 2rem;
margin-top: 5rem;
}
.hi{
  margin-top: 0;
  margin-bottom: 0;
 font-size: 20px;
  font-weight: 400;
  margin-left: 1.5rem;
}
.name{
  font-size: 32px;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.im{
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
  width: 70%;
  margin-left: 3rem;
  
}

.img{
  margin-left: 0.7rem;
  width:95% ;
}
.img img{
  width: 100%;
  border-radius: 0.7rem;
}
.pip{
  margin-top: 8rem;
}
.nam{
  margin: 5.4rem 0 ;
  font-family: Poppins,sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-left: 0.5rem;
  }
  .section2 ,.section3, .section4,.section5,.section6{
    margin: 0.5rem;
  }
.skit{
  margin-top: 3rem;
  font-weight: bold;
  font-size: 24px;
  margin-left: 1rem;
}
.blur{
  color: #999999 ;
  font-weight: 400;
  font-size: 16px;

}
.button{
  display: flex;
  width: 5rem;
}
.bttn{
  
  color:#fff;
  background-color: black;
  font-size: 10px;
  font-weight: 700;
padding: 0.4rem 0.7rem;
border: none;
margin-right: 0.5rem;
margin-bottom: 0.7rem;

}
.bttin{
  width: 6rem;
  color:#fff;
  background-color: black;
  font-size: 10px;
  font-weight: 700;
padding: 0.4rem 0.7rem;
border: none;
margin-right: 0.5rem;
margin-bottom: 0.7rem;

}
.bittn{
  width: 10rem;
margin-right: 5rem;
}
.by{
  font-size: 18px;
  font-weight: bold;
}
.yell{
  font-size: 12px;
  font-weight: 700;
  padding: 0.7rem;
  border: none;
  border-radius: 3px;
  background-color: #f9b006;
  margin-bottom: 1rem;
}
.view{
  font-size: 13px;
  font-weight: 700;
  padding: 0.8rem;
  border: none;
  border-radius: 3px;
  background-color: #f9b006;
width: 13rem;
margin-bottom: 6rem;
}
span{
  margin-right: 0.5rem;
}
.section4, .section3{
  margin-bottom: 6rem;
}
footer{
  width: 40%;
  
}
.footer{
  display: flex;
  justify-content: space-around;
  background-color: rgba(225, 225, 225, 0.5);
  backdrop-filter:blur (16px);
  padding: 0.5rem 0.2rem;
  border-radius: 1rem;
  width: 58%;
  z-index: 1000;
  bottom: 2rem;
  margin-left: 3.8rem;
 position: fixed;
 height: 2rem;
}
.footer div{
  padding: 0.2rem 0.4rem;
  /* background-color: #f9b006; */
  border-radius:5px;
  margin: 0.1rem;
}



/*DESKTOP-VIEW********************/
@media (min-width: 768px) {
.nav{
  width: 97%;
  padding: 3rem 1rem;
}
.section1{
  display: flex;
}
.img1{
  margin:0 1rem ;
}
.ook{
  margin-right: 2rem;
}
.img2{
  width: 40%;
}

.cont1{
  margin-top: 15rem;
  margin-left: 2rem;
}
.bod{
  margin-left: 3rem;
  margin-top: 5rem;
}
.pip{
  margin-left: 25rem;
}
.section2{
  margin-right: 4rem;
  display: flex;
  justify-content: space-between;
flex-direction: row-reverse;
}
.img{
  width: 48%;

}
.sneak{
  width: 30%;
}
.imgi{
  margin-left: 4rem;

}
.section3{
  display: flex;
  margin-top:4rem ;
}
#ngo{
  margin: 6rem -3rem 5rem 20rem ;
}

.section4{
  display: flex;
  justify-content: space-between;
flex-direction: row-reverse;
}
.rah{
width: 28%;
margin-top: -2.5rem;
}
.section5{
  display: flex;
}
#ng{
  margin: 2rem -3rem 5rem 18rem ;
}
.section6{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-right: 2rem;
}
.crap{
  width: 20%;
}
.footer{
  width: 28%;
  height: 2.5rem;
  margin-left: 25rem;
}




}